/* Step 1 */
@keyframes LogoAnimation {
    from {
        width: 25px;
        opacity: 0;
    }

    to {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation: LogoAnimation 5s;
}

/* Step 2 */
body {
    font-family: 'Poppins', serif;
    background-image: url('images/concrete_seamless.png');
    background-color: #f1f1f1;
}

/* Step 3 */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Step 4 */
.nav_links {
    display: flex;
    flex-direction: column;
}

/* Step 5 */
.nav_item a:visited {
    color: #50C7C7;
}

/* Step 6 */
.card>header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* Step 7+8  */
.card {
    flex-basis: 450px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.pricing {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Step 9 */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
    height: 230px;
}

/* Step 10 */
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Step 11 */
@media screen and (min-width: 900px) {
    .main-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        /* Step 13 */
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .nav_links {
        flex-direction: row;
    }

    /* Step 12 */
    .card {
        flex-basis: 275px;
    }

    .pricing {
        align-items: center;
    }


    main head {
        position: static;
    }

}

/* Step 14 */
@media all and (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }

}

/* Step 15 */
@media print {
    body {
        font-family: Arial, Helvetica;
        /* Step 16 */
        background-image: none;
    }
   
    /* Step 17 */
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav_links {
        display: flex;
        justify-content: space-between; /* Distributes links within the container */
        flex-direction: row;
        width: fit-content; /* Only takes up the space needed by links */
    }
 
    /* Step 18 */
    .pricing {
        align-items: flex-end;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    /* Step 19 */
    .card {
        flex-basis: 325px;
        border: 2px solid #45ADDD;
        display: flex;
        flex-direction: column;
    }
    
    /* Step 20 */
    #gallery, .gallery {
        display: none;
    }

    /* Step 21 */
    .card ul li:nth-of-type(2)::after {
        content: "👍 ";
    }
}